 /*reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

a{
	text-decoration: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset ends*/


html{background: #f4f4f4;}
.container{width: 1190px; margin: 0 auto; background: #f4f4f4; font-family: "Microsoft Yahei", '微软雅黑', 'SimSan', '宋体';}
.ie6 .container{width: 1190px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ie6 .clearfix, .ie7 .clearfix{zoom:1;}

/*
* header
*/

.header{width: 100%;}
/*banner starts*/
.banner-wrapper{position: relative; width: 100%; overflow: hidden; height: 304px;}
.banner_list{width: 100%;}
.banner_list img{ border:none;width: 100%}
.ie8 .banner_list img{width: auto;}
.banner-wrapper .banner-ul{position: absolute;list-style-type: none;filter:alpha(Opacity=80); opacity: .8; z-index: 1000; margin:0; padding:0;bottom: 20px;left: 124px}
.banner-wrapper .banner-ul li{margin: 0px 5px; float: left; background: #000;cursor: pointer; width: 10px; height: 10px;}
.banner-wrapper .banner-ul li.on{background: #fff;}
.banner-wrapper .ctrl{width: 39px; height: 80px;position: absolute;z-index: 1000; background-image: url(../img/bg_all.png); background-repeat: no-repeat; cursor: pointer;}
.banner-wrapper #prev{background-position: -51px 0px; top: 50%; left: 10px; margin-top: -40px;}
.banner-wrapper #prev:hover{background-position: -95px 0px;}
.banner-wrapper #next{background-position: -51px -83px; top: 50%; right: 10px; margin-top: -40px;}
.banner-wrapper #next:hover{background-position: -95px -83px;}
/*banner ends*/

/*service starts*/
.service{height: 90px; margin: 10px 0 30px 0; position: relative; background: #fff;}
.service:before{width: 17px; height: 90px; background: url(../img/bg_all.png); background-repeat: no-repeat;background-position: 0px 0px; position: absolute; z-index: 1006;}
.ie6 .service{width: 1190px;}
.serv-left-bg{width: 17px; height: 90px; background: url(../img/bg_all.png); background-repeat: no-repeat;background-position: 0px 0px; position: absolute; z-index: 1000; 
}
.serv-right-bg{width: 17px; height: 90px; background: url(../img/bg_all.png); background-repeat: no-repeat;background-position: -20px 0px; position: absolute; z-index: 1000; right: 0px;}
.service dl{float: left; background: #fff; width: 18%; height: 40px;padding-left:6%; margin: 25px 0;}
.ie6 .service dl{width: 245px;}
.service .ser1{background-image: url(../img/bg_all.png);background-position: -158px 0px; background-repeat: no-repeat; margin-left: 10px;}
.service .ser2{border-left: 1px solid #ddd; background-image: url(../img/bg_all.png);background-position: -158px -45px; background-repeat: no-repeat;}
.ie6 .service .ser2{background-position: -158px -44px;}
.service .ser3{border-left: 1px solid #ddd; background-image: url(../img/bg_all.png);background-position: -158px -90px; background-repeat: no-repeat;}
.service .ser4{border-left: 1px solid #ddd; background-image: url(../img/bg_all.png);background-position: -158px -135px; background-repeat: no-repeat;}
.ie6 .service .ser4{left:887px;}
.service dl dt{font-size: 16px; font-weight: bold;}
.service dl dd{font-size: 12px;margin-top: 10px;}
/*service ends

/*
 *content
 */

/*template starts*/
.template-L{width: 49%;float: left;}
.ie6 .template-L{width: 400; margin-right: 30px;}
.template-R{width: 49%;float: right;}
.ie6 .template-R{width: 400;}
.l-col, .r-col{width: 33%; float: left; background: #fff;}
.catalog-a{display: block; height: 100%;}
.catalog{width: 100%; height: auto;}
.shop-title, .brand-title{height: 15px; line-height: 15px; border-left: 3px solid #565656; padding-left: 5px; margin-bottom: 15px; font-size: 14px;}
.product-title{height: 15px; line-height: 15px; border-left: 3px solid #565656; padding-left: 5px;font-size: 14px; margin-top: 15px; float: left;}
.star-shop{padding:4%; height: 91px; background: #fff; border-bottom: 1px solid #ddd;}
.star-shop img{float: left;}
.star-shop span{float: left; height: 48px; line-height: 48px; padding-left: 10px; font-size: 12px; color: #333;}
.star-shop span:hover{text-decoration: underline;}
.hot-brand{padding: 5%; height: 91px; background: #fff;}
.hot-brand img{float: left;}
.hot-brand .brand-img{height: 30px; margin-right: 6px;}
.hot-brand span{float: left; height: 48px; line-height: 48px; padding-left: 12px;}
.r-col{float: left; border-left: 1px solid #ddd; background: #fff; width:66%; height: 498px;}
.product-top{position: relative;}
ul.product-top-page{float: right; width: 30px; margin-right: 20px; position: absolute;bottom: 10px; right: 0px;}
.product-top-page li{width: 7px; height: 7px; background: #e0e0e0; cursor: pointer;float: left; margin-left: 3px;}
.product-top-page li:hover{background: #b2b2b2; }
.product-top{height: 40px; background: #fff;padding: 10px 10px 0 10px; border-bottom:1px solid #f4f4f4;}
.product-container-div{overflow: hidden; position:relative; width: 100%;}
.procuct-container-ul{position: relative; height: 440px;}
.procuct-container-ul .procuct-container-li{float: left; position: absolute;}
.procuct-container-ul .pcl-1{left: 0;}
.product-list li{float: left; padding: 2%;position: relative; width: 45%}
.product-list p{font-size: 12px; color: #777; line-height: 16px;}
.product-list em{display: block;position: absolute;background: rgba(255, 255, 255, .8);text-align: center;width: 84px; height: 34px; line-height: 34px; top: 150px; left: 100px;}
.ie6 .product-list em, .ie7 .product-list em, .ie8 .product-list em{filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#aaffffff,endcolorstr=#aaffffff); }
.product-list img{width: 100%;}
/*template ends*/



/*media query starts*/

@media screen and (max-width: 990px) {
	.container{width:990px;}
	.banner-wrapper{height: 253px; overflow: hidden;}	
	/*.banner_list{height: 253px;}*/
	.ie7 .banner_list{height: 253px;}
	.service{width: 990px;}	
	.product-list em{width: 66px; height: 27px; line-height: 27px; top: 129px;left: 90px; font-size: 12px;}
	.product-list img{width: 150px;}
	.r-col{ height: 446px;}
}

@media screen and (min-width: 1190px) {
	.container{width:1190px;}
	.banner-wrapper{height: 304px; overflow: hidden;}
	/*.banner_list{height: 304px;}*/
	.service{width: 1190px;}
}

/*media query ends*/

/*990px*/
.ie7 .product-list .990body-ie7-product-list-em{top: 121px; left: 74px; width: 76px; height: 30px; font-size: 12px; line-height: 30px; display: block;position: absolute;}